  *{
    margin: 0;
    padding: 0;
  }
  /* body{
    Le corps de la page
  } */
  body::selection{   /* c'est la couleur de selection de la page  */
    background-color: grey;
  }
  /* La header c'est en tête comme suite */
  header{         /* c'est les titres de la page  */
    background-color: grey;
    padding: 10px 0;
    /* height: 73px; est remplacer par padding */
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  header h1{          /* c'est le titre 1 de la page  */
    font-size: 45px;
    text-shadow: 2px 2px 7px black;
  }
  header h2{            /* c'est le titre 2 de la page  */
    font-size: 15px;
    text-shadow: 2px 2px 7px black;
  }

  /* La partie nav c'est la collone qui est en bas header il contient des liens */

  nav{  /* c'est la patie qui contient des liens  */
    background-color: rgba(160, 153, 153, 0.87);
    height: 33px;
    text-align: center;
    /*position: sticky;  permet que les boutons soit en fixé en haut de la page */
    top: 0; /* la limite de position */
  }
  .resposive ul {     /* c'est les liens de la page  */
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    /*display: inline-block;  pour centrer boutons */
    padding: 3px; 
    margin: 0;
  }

  .resposive ul li a {
    text-decoration: none; /* enléver le soulignement des liens */
    background-color: gray;
    font-weight: bold;    /* c'est de mettre en gras  */
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    display: inline-block;
    text-shadow: 1px 1px 3px black;
    box-shadow: 1px 1px 2px black;
  }
  nav a:hover{
    color: white;
    box-shadow: 2px 2px 2px black;
  }

  .encadrement {  /* c'est le contenaire de gris  */
    display: grid;
    grid-template-columns: 1fr 3fr; /* il seras fractionner combien de colunne  */
    width: 100%;
    max-width: 90%;
   /* width: 100vh     à revoire  */
    /* width: 100%; */
    margin: auto;
    gap: 20px;
  }
  /* ici c'est le traitement de footer c'est-a-dire le pied de page */
  /*
  .encadrement aside{  c'est le premier partie de gris.
    border: 2px dotted grey;
    height: 1000px; 
  }  
  */
    /* C'est la partie de traitement de l'image  */
  .encadrement aside img{
    height: 200px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 2px 2px 5px black; 
  }
  .titre, h3 {  /* c'est le traitement de titre 2 et il est prend tous les titre de la page  */
    background-color: grey;
    color: white;
    height: 25px;
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 5px black;
    margin: 10px 8px 8px 8px;
  }

  .encadrement aside ul {       /* c'est la partie des traitement des information */
    list-style-type: none;      /* c'est de enlever les puces derieur les ligne  */
    text-align: left;
    /* margin: 10px 8px 8px 15px; */
    margin: 0px 10px; 
    line-height: 25px;
  }
  .encadrement aside ul .min{     /* c'est le traitement de mon emil comme il est long  */
    font-size: 10px;
    font-weight: bold;
  }

  .loisir p{      /* c'est la partie qui determine mes qualité en poucentage %  */
    font-size: 15px;
    text-align: left;
    padding-left: 8px;
    margin-top: 10px;

  }
  progress {          /* c'est la balise progress qui valide le poucentage ont donne  */
    width: 90%;
    height: 15px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
    padding-left: 5px;
  }
  span {
    font-weight: bold;
  }

  .encadrement section { /* c'est le deuxieme partie de gris  */
    /* la partie à droite la page qui contient des information comme a propos de moi  */
    /* border: 2px dotted grey; */
    width: 100%;
  }
  .encadrement section li {
    margin-left: 30px;
  }
  .encadrement section{
    font-size: 15x;
  }
  .encadrement section p{       /* c'est les paragraphes deuxiemes gris  */
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px; 
  }
  
  section img { /* c'est le traitément des l'images de mes competances  */
    height: 150px;
    width: 150px;
    bottom: 10px;
  } 
  .competant {     /* c'est l'alignement des images */
    display: flex;
    text-align: center;
  }
 
  .competant img{        /* c'est le traitément de l'image de mes compétant si le cursieur passe il prend une couleur */
    /* width: 50%; */
    -webkit-filter: grayscale(0%); /* Prenne la couleur grayscale */
    filter: grayscale(0%); /* Prenne la couleur grayscale */
    box-shadow: 1px 1px 5px black;
  }
  .competant img:hover{ /* Si ont pointer sur une l'image, l'images prennes la couleur souhautez  */
    -webkit-filter: grayscale(100%); /* Prenne la couleur grayscale */
    filter: grayscale(100%); /* Prenne la couleur grayscale */
    box-shadow: 1px 1px 10px black;
  }

  section .image p {       /* les paragraphes de l'image */
    text-align: center;
    /* word-spacing: 5px; espacement entre les mots  */
    font-size: 16px;
    padding: 10px;
  }
  /* le pied de la page commence ici */
  footer {  /* footer c'est le pied ma page */
    background-color: grey;
    color: white;
    text-align: center;
    height: 25px;
    margin-top: 20px;
    max-width: 100%; 
  }
  footer p { /* c'est la paragraphe de pied de page  */
    /* height: 30px; */
    font-size: 12px;
    position: relative;
    top: 5px; 
    text-transform: uppercase; /* mettre tous le texe en majuscule */
    text-shadow: 2px 2px 8px black;
  }
  /* La page de mes projets commence ici  */
  .projet {
    display: flex; /* mettre tous les images en ligne */
    flex-wrap: wrap; /* renvoier les images s'il ya plus espace maintennat en ligne */
    justify-content: space-between; /* il justifier les image et ocupe les espacement entre les images */
    text-align: center;
  }
  .projet .imagek p{      /* les  paragraphe de l'image */
    text-align: center;
  }

  .projet .imagek{      /* diveser la partie de section en deux partie  */
    flex-basis: 50%; /* C'est de partager la section en deux partie 50% à chaqeu partie  */
  }
  .imagek img{       /* traitement des images de projet */
    width: 50%;
    -webkit-filter: grayscale(0%); /* Prènne la couleur grayscale */
    filter: grayscale(0%); /* Prènne la couleur grayscale */
    box-shadow: 1px 1px 5px black;
  }
  .imagek img:hover{ /* Si ont l'envoie le cursieur l'image les images prennes la couleur de souhautez  */
    -webkit-filter: grayscale(100%); /* Prènne la couleur grayscale */
    filter: grayscale(100%); /* Prènne la couleur grayscale */
    box-shadow: 1px 1px 10px black;
  }
  /* Fin de la page de mes projets */

  /* La page de cv commence ici */
  .mon_cv .contenaire_cv {        /* le contenaitaire de cv */
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 25px 0px;
  }
  .mon_cv .date p{    /*le paragraphe qui contient les dates de mon cv  */
    color: grey;
    font-size: 12px;
  }
  .mon_cv .exper p{       /* le paragraphe qui contient les renseignements de mon cv  */  
    font-size: 15px;
    font-weight: bold;
  }
  #certif{          /*traitement le certificat de mon cv  */
    text-align: center;
    font-weight: bold;
  }

  /* La page de cv prend fin d'ici  */


  /* la page de contact commence d'ici */
  .contact {
    font-size: 15px;
    padding: 30px;
  }
  input, textarea{
    display: block;
    width: 100%;
    height: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
  }
  textarea{
    height: 200px;
    resize: none;
  }
  label{
    font-weight: bold;
  } 
  input[type="submit"]{
    /* position: relative; */
    height: 40px;
    width: 150px;
    margin:auto
  }
  .passe{
    position: relative;
    width: 200px;
  }
  .passe input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 15px;
  }
  .oiel{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 15px;
  }

  /* c'est le traintement de menu hamburger commence ici */
  .hamburger {
    position: fixed;
    z-index: 1000;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
    margin: 15px;
    /* background: none;
    background-color: transparent; */
  }
  .hamburger span {
    /* background: none; */
    display: block;
    height: 4px;
    background: black;  /* Couleure de menu */
    margin: 6px 0;
    border-radius: 5px;
    transition: 0.4s;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -250px;      /* Caché à gauche */
    width: 250px;
    height: 100%;
    background: transparent; /* Couleur de font de menu */
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
  }
  .menu a {
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
  }
  .menu a:hover {
    background: blueviolet; /* Couleur si ont clique */
  }
  /* --- QUAND LE MENU EST OUVERT --- */
   body.open .menu {
    left: 0;        /* Le menu glisse */
  } 
  /* Animation du bouton hamburger en croix */
  body.open .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  body.open .hamburger span:nth-child(2) {
    opacity: 0;
  }

  body.open .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

 
  /* c'est la fin du traintement de menu hamburger */

  @media screen and (max-width: 660px) {
    header {
      height: auto;
      padding: 10px 0;
    }
    header h1{
      font-size: 25px;
    }
    header h2{
      font-size: 15px;
    }
    .encadrement{
      display: grid;
      grid-template-columns: 1fr; /* il seras fractionner combien de colunne  */
      width: 100%;
      max-width: 100%;
      margin: auto;
      gap: 15px;
    }
    #imgsss{
      margin: 10px auto;
      display: flex;
      justify-content: center;
      /* align-items: center; */
    }
    .titre{
      width: 100%;
      max-width: 100%;
      text-align: center;
      /* justify-content: center; */
    }
    header{
      height: 70px;
    }
    /* .encadrement section p{
      margin: auto;
    } */
  }
  @media screen and (max-width: 350px) {
    header h1 {
    font-size: 20px;
    }

    header h2 {
    font-size: 10px;
    }

    header {
      max-width: 100vh;
      height: 27px;
    }

    .titre, h3 {
      font-size: 20px;
      width: 90%;
    }

    .resposive ul {
      flex-direction: row; /* mettre les lins en ligne */
      align-items: center;
      gap: 10px;
      
    }
    .resposive ul li a {
      width: 80%;
      text-align: center;
      padding: 4px 8px;
      font-size: 9px;
      font-weight: bold;
    }

    progress {
      text-align: center;
      padding-left: 5px;
    }

    .hamburger{
      top: 0;
      right: 0; 
      width: 17px;
    }
    footer {
      height: 20px;
    }
    footer .foter{
      text-align: center; 
      font-size: 6px;
    }

    .imagek .projetz{
      /* text-align: justify; */
      font-size: 12px;
    }
  }

  @media screen and (max-width: 695px) {
    .hamburger{
      top: 10px;
      right: 10px; 
      width: 20px;
     
    }
  } 
